<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 43.0 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-linux_x86_64.whl size=1142923 sha256=6c82e6c6948e515da6dd2b025bb4aca186a8af4ca81edc7796dc423633f0b712
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/3a/7c/1e/12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyterhub 4.1.5 requires SQLAlchemy>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.12.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.36-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.7 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.2-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.36-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 90.2 MB/s eta 0:00:00:00:01
Downloading prettytable-3.12.0-py3-none-any.whl (31 kB)
Downloading sqlparse-0.5.2-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.4/44.4 kB 6.3 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.12.0 sqlalchemy-2.0.36 sqlparse-0.5.2
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.11/site-packages (3.12.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [20]:
!pip install -q pandas

In [21]:
%sql sqlite:///my_data1.db

In [22]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [23]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [24]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [71]:
import pandas as pd

# Load the dataset from the current directory
file_path = 'Spacex.csv'

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display unique launch sites
unique_launch_sites = df['Launch_Site'].unique()

# Print the unique launch sites
print("Unique Launch Sites in the SpaceX Dataset:")
for site in unique_launch_sites:
    print(site)

Unique Launch Sites in the SpaceX Dataset:
CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [43]:
import pandas as pd

# Load the dataset from the current directory
file_path = 'Spacex.csv'
df = pd.read_csv(file_path)

# Filter the DataFrame for records where 'Launch_Site' starts with 'CCA'
filtered_df = df[df['Launch_Site'].str.startswith('CCA')]

# Display the first 5 records of the filtered data in a neat table format
filtered_df.head(5)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [44]:
# Filter the DataFrame for records where 'Customer' is 'NASA (CRS)'
nasa_crs_df = df[df['Customer'] == 'NASA (CRS)']

# Calculate the total payload mass
total_payload_mass = nasa_crs_df['PAYLOAD_MASS__KG_'].sum()

# Display the total payload mass
print("Total Payload Mass carried by NASA (CRS) boosters:", total_payload_mass, "kg")

Total Payload Mass carried by NASA (CRS) boosters: 45596 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [45]:
# Filter the DataFrame for records where 'Booster_Version' is 'F9 v1.1'
f9_v1_1_df = df[df['Booster_Version'] == 'F9 v1.1']

# Calculate the average payload mass
average_payload_mass = f9_v1_1_df['PAYLOAD_MASS__KG_'].mean()

# Display the average payload mass
print("Average Payload Mass carried by F9 v1.1 boosters:", average_payload_mass, "kg")

Average Payload Mass carried by F9 v1.1 boosters: 2928.4 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [50]:
# Filter the DataFrame for records where 'Landing_Outcome' indicates successful landing on ground pad
ground_pad_success_df = df[df['Landing_Outcome'] == 'Success (ground pad)']

# Get the earliest (first) date when the successful landing on ground pad occurred
first_successful_landing_date = ground_pad_success_df['Date'].min()

# Display the result
print("The first successful landing on a ground pad occurred on:", first_successful_landing_date)

The first successful landing on a ground pad occurred on: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [51]:
# Filter the DataFrame for successful drone ship landings and payload mass between 4000 and 6000 kg
filtered_boosters_df = df[(df['Landing_Outcome'] == 'Success (drone ship)') & 
                           (df['PAYLOAD_MASS__KG_'] > 4000) & 
                           (df['PAYLOAD_MASS__KG_'] < 6000)]

# Get the names of the boosters
booster_names = filtered_boosters_df['Booster_Version'].unique()

# Display the result
print("Booster names with successful landing on drone ship and payload mass between 4000 and 6000 kg:")
print(booster_names)

Booster names with successful landing on drone ship and payload mass between 4000 and 6000 kg:
['F9 FT B1022' 'F9 FT B1026' 'F9 FT  B1021.2' 'F9 FT  B1031.2']

### Task 7




##### List the total number of successful and failure mission outcomes

In [52]:
# Use value_counts() on the 'Mission_Outcome' column to count successes and failures
mission_outcomes_count = df['Mission_Outcome'].value_counts()

# Display the result
print("Total number of successful and failed mission outcomes:")
print(mission_outcomes_count)

Total number of successful and failed mission outcomes:
Mission_Outcome
Success                             98
Failure (in flight)                  1
Success (payload status unclear)     1
Success                              1
Name: count, dtype: int64

In [57]:
# Normalize all "Success" outcomes into a single category
df['Mission_Outcome'] = df['Mission_Outcome'].replace({
    'Success': 'Success',  # This can be merged with other "Success" variations
    'Success (payload status unclear)': 'Success'
})

# Recalculate the counts for mission outcomes
mission_outcomes_final_count = df['Mission_Outcome'].value_counts()

# Display the cleaned result
print("Final total number of successful and failed mission outcomes:")
print(mission_outcomes_final_count)

Final total number of successful and failed mission outcomes:
Mission_Outcome
Success                99
Failure (in flight)     1
Success                 1
Name: count, dtype: int64

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [65]:
import pandas as pd
from sqlalchemy import create_engine

# Load the dataset from the provided file path
file_path = 'Spacex.csv'  # Adjust this to the correct path where the file is uploaded
df = pd.read_csv(file_path)

# Create an SQLite engine (or use another database engine)
engine = create_engine('sqlite:///spacex.db', echo=True)

# Save the DataFrame to an SQLite table named 'spacex_table'
df.to_sql('spacex_table', con=engine, if_exists='replace', index=False)

# SQL query to find booster versions with the maximum payload mass
query = '''
SELECT "Booster_Version"
FROM spacex_table
WHERE "PAYLOAD_MASS__KG_" = (
    SELECT MAX("PAYLOAD_MASS__KG_") FROM spacex_table
)
'''

# Execute the query and fetch the results into a DataFrame
booster_versions = pd.read_sql(query, con=engine)

# Display the result
print(booster_versions)

2024-11-19 08:04:18,934 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-19 08:04:18,938 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("spacex_table")
2024-11-19 08:04:18,939 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-19 08:04:18,940 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("spacex_table")
2024-11-19 08:04:18,940 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-19 08:04:18,942 INFO sqlalchemy.engine.Engine
CREATE TABLE spacex_table (
	"Date" TEXT,
	"Time (UTC)" TEXT,
	"Booster_Version" TEXT,
	"Launch_Site" TEXT,
	"Payload" TEXT,
	"PAYLOAD_MASS__KG_" BIGINT,
	"Orbit" TEXT,
	"Customer" TEXT,
	"Mission_Outcome" TEXT,
	"Landing_Outcome" TEXT
)


2024-11-19 08:04:18,943 INFO sqlalchemy.engine.Engine [no key 0.00054s] ()
2024-11-19 08:04:19,036 INFO sqlalchemy.engine.Engine INSERT INTO spacex_table ("Date", "Time (UTC)", "Booster_Version", "Launch_Site", "Payload", "PAYLOAD_MASS__KG_", "Orbit", "Customer", "Mission_Outcome", "Landing_Outcome") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-11-19 08:04:19,037 INFO sqlalchemy.engine.Engine [generated in 0.00163s] [('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'), ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'), ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'), ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'), ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'), ('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'), ('2013-12-03', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'), ('2014-01-06', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt')  ... displaying 10 of 101 total bound parameter sets ...  ('2020-11-25', '2:13:00', 'F9 B5 B1049.7 ', 'CCAFS SLC-40', 'Starlink 15 v1.0, SpaceX CRS-21', 15600, 'LEO', 'SpaceX', 'Success', 'Success'), ('2020-12-06', '16:17:08', 'F9 B5 B1058.4 ', 'KSC LC-39A', 'SpaceX CRS-21', 2972, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success')]
2024-11-19 08:04:19,076 INFO sqlalchemy.engine.Engine COMMIT
2024-11-19 08:04:19,160 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-19 08:04:19,161 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
SELECT ""Booster_Version""
FROM spacex_table
WHERE ""PAYLOAD_MASS__KG_"" = (
    SELECT MAX(""PAYLOAD_MASS__KG_"") FROM spacex_table
)
")
2024-11-19 08:04:19,162 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-19 08:04:19,185 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
SELECT ""Booster_Version""
FROM spacex_table
WHERE ""PAYLOAD_MASS__KG_"" = (
    SELECT MAX(""PAYLOAD_MASS__KG_"") FROM spacex_table
)
")
2024-11-19 08:04:19,186 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-19 08:04:19,187 INFO sqlalchemy.engine.Engine
SELECT "Booster_Version"
FROM spacex_table
WHERE "PAYLOAD_MASS__KG_" = (
    SELECT MAX("PAYLOAD_MASS__KG_") FROM spacex_table
)

2024-11-19 08:04:19,187 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-19 08:04:19,190 INFO sqlalchemy.engine.Engine ROLLBACK
   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [67]:
import pandas as pd
from sqlalchemy import create_engine

# Create a connection to the SQLite database
engine = create_engine('sqlite:///spacex.db', echo=True)

# SQL query to find records with failure landing outcomes on drone ships in 2015
query = '''
SELECT 
    CASE 
        WHEN substr("Date", 6, 2) = '01' THEN 'January'
        WHEN substr("Date", 6, 2) = '02' THEN 'February'
        WHEN substr("Date", 6, 2) = '03' THEN 'March'
        WHEN substr("Date", 6, 2) = '04' THEN 'April'
        WHEN substr("Date", 6, 2) = '05' THEN 'May'
        WHEN substr("Date", 6, 2) = '06' THEN 'June'
        WHEN substr("Date", 6, 2) = '07' THEN 'July'
        WHEN substr("Date", 6, 2) = '08' THEN 'August'
        WHEN substr("Date", 6, 2) = '09' THEN 'September'
        WHEN substr("Date", 6, 2) = '10' THEN 'October'
        WHEN substr("Date", 6, 2) = '11' THEN 'November'
        WHEN substr("Date", 6, 2) = '12' THEN 'December'
    END AS "Month_Name",
    "Landing_Outcome",
    "Booster_Version",
    "Launch_Site"
FROM spacex_table
WHERE substr("Date", 0, 5) = '2015'
  AND "Landing_Outcome" LIKE '%Failure (drone ship)%';
'''

# Execute the query and fetch the results into a DataFrame
failure_landings_2015 = pd.read_sql(query, con=engine)

# Display the result
print(failure_landings_2015)

2024-11-19 08:06:18,284 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-19 08:06:18,285 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
SELECT
    CASE
        WHEN substr(""Date"", 6, 2) = '01' THEN 'January'
        WHEN substr(""Date"", 6, 2) = '02' THEN 'February'
        WHEN substr(""Date"", 6, 2) = '03' THEN 'March'
        WHEN substr(""Date"", 6, 2) = '04' THEN 'April'
        WHEN substr(""Date"", 6, 2) = '05' THEN 'May'
        WHEN substr(""Date"", 6, 2) = '06' THEN 'June'
        WHEN substr(""Date"", 6, 2) = '07' THEN 'July'
        WHEN substr(""Date"", 6, 2) = '08' THEN 'August'
        WHEN substr(""Date"", 6, 2) = '09' THEN 'September'
        WHEN substr(""Date"", 6, 2) = '10' THEN 'October'
        WHEN substr(""Date"", 6, 2) = '11' THEN 'November'
        WHEN substr(""Date"", 6, 2) = '12' THEN 'December'
    END AS ""Month_Name"",
    ""Landing_Outcome"",
    ""Booster_Version"",
    ""Launch_Site""
FROM spacex_table
WHERE substr(""Date"", 0, 5) = '2015'
  AND ""Landing_Outcome"" LIKE '%Failure (drone ship)%';
")
2024-11-19 08:06:18,285 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-19 08:06:18,287 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
SELECT
    CASE
        WHEN substr(""Date"", 6, 2) = '01' THEN 'January'
        WHEN substr(""Date"", 6, 2) = '02' THEN 'February'
        WHEN substr(""Date"", 6, 2) = '03' THEN 'March'
        WHEN substr(""Date"", 6, 2) = '04' THEN 'April'
        WHEN substr(""Date"", 6, 2) = '05' THEN 'May'
        WHEN substr(""Date"", 6, 2) = '06' THEN 'June'
        WHEN substr(""Date"", 6, 2) = '07' THEN 'July'
        WHEN substr(""Date"", 6, 2) = '08' THEN 'August'
        WHEN substr(""Date"", 6, 2) = '09' THEN 'September'
        WHEN substr(""Date"", 6, 2) = '10' THEN 'October'
        WHEN substr(""Date"", 6, 2) = '11' THEN 'November'
        WHEN substr(""Date"", 6, 2) = '12' THEN 'December'
    END AS ""Month_Name"",
    ""Landing_Outcome"",
    ""Booster_Version"",
    ""Launch_Site""
FROM spacex_table
WHERE substr(""Date"", 0, 5) = '2015'
  AND ""Landing_Outcome"" LIKE '%Failure (drone ship)%';
")
2024-11-19 08:06:18,287 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-19 08:06:18,289 INFO sqlalchemy.engine.Engine
SELECT
    CASE
        WHEN substr("Date", 6, 2) = '01' THEN 'January'
        WHEN substr("Date", 6, 2) = '02' THEN 'February'
        WHEN substr("Date", 6, 2) = '03' THEN 'March'
        WHEN substr("Date", 6, 2) = '04' THEN 'April'
        WHEN substr("Date", 6, 2) = '05' THEN 'May'
        WHEN substr("Date", 6, 2) = '06' THEN 'June'
        WHEN substr("Date", 6, 2) = '07' THEN 'July'
        WHEN substr("Date", 6, 2) = '08' THEN 'August'
        WHEN substr("Date", 6, 2) = '09' THEN 'September'
        WHEN substr("Date", 6, 2) = '10' THEN 'October'
        WHEN substr("Date", 6, 2) = '11' THEN 'November'
        WHEN substr("Date", 6, 2) = '12' THEN 'December'
    END AS "Month_Name",
    "Landing_Outcome",
    "Booster_Version",
    "Launch_Site"
FROM spacex_table
WHERE substr("Date", 0, 5) = '2015'
  AND "Landing_Outcome" LIKE '%Failure (drone ship)%';

2024-11-19 08:06:18,289 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-19 08:06:18,292 INFO sqlalchemy.engine.Engine ROLLBACK
  Month_Name       Landing_Outcome Booster_Version  Launch_Site
0    January  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1      April  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [69]:
import pandas as pd
from sqlalchemy import create_engine

# Create a connection to the SQLite database
engine = create_engine('sqlite:///spacex.db', echo=True)

# SQL query to rank landing outcomes between 2010-06-04 and 2017-03-20
query = '''
SELECT "Landing_Outcome", COUNT(*) AS "Outcome_Count"
FROM spacex_table
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY "Outcome_Count" DESC;
'''

# Execute the query and fetch the results into a DataFrame
landing_outcomes_count = pd.read_sql(query, con=engine)

# Display the result
print(landing_outcomes_count)

2024-11-19 08:07:46,057 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-19 08:07:46,058 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
SELECT ""Landing_Outcome"", COUNT(*) AS ""Outcome_Count""
FROM spacex_table
WHERE ""Date"" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY ""Landing_Outcome""
ORDER BY ""Outcome_Count"" DESC;
")
2024-11-19 08:07:46,059 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-19 08:07:46,060 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
SELECT ""Landing_Outcome"", COUNT(*) AS ""Outcome_Count""
FROM spacex_table
WHERE ""Date"" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY ""Landing_Outcome""
ORDER BY ""Outcome_Count"" DESC;
")
2024-11-19 08:07:46,061 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-19 08:07:46,062 INFO sqlalchemy.engine.Engine
SELECT "Landing_Outcome", COUNT(*) AS "Outcome_Count"
FROM spacex_table
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY "Outcome_Count" DESC;

2024-11-19 08:07:46,063 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-19 08:07:46,065 INFO sqlalchemy.engine.Engine ROLLBACK
          Landing_Outcome  Outcome_Count
0              No attempt             10
1    Success (drone ship)              5
2    Failure (drone ship)              5
3    Success (ground pad)              3
4      Controlled (ocean)              3
5    Uncontrolled (ocean)              2
6     Failure (parachute)              2
7  Precluded (drone ship)              1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>